img {
    display: block;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

.body {
    margin: 0;
}

.container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px #f4eded solid;
    background-color: #f4f4f078;
}

.header-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding-left: 0;

}

.header-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-link {
    padding-top: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: none;
    color: #3f51b5;
    border-bottom: 2px solid #f9f9f9a3;
    font-family: "Roboto Condensed";
}

.header-link:hover {
    border-bottom: 2px solid #513e11a3;
    color: rgb(138, 128, 128);
}

/* ================HEADER-INPUT================== */

.header-search-form {
    margin-bottom: 0;
    background-color: #f4f4f078;
}

.header-input {
    padding-top: 38px;
    padding-bottom: 38px;
    height: 40px;
    border: none;
    width: 120px;

    outline: none;
    /* background: linear-gradient(#bed3e8, #cbd5db54);
    box-shadow: 0 0 10px #090909b3; */
    background-color: #f4f4f078;
}

.header-input::-webkit-input-placeholder {
    color: #3f51b5;
    padding-left: 15px;
    font-family: "Roboto Condensed";
    font-size: 20px;
    outline: none;

}

.header-input:hover::-webkit-input-placeholder {
    color: rgb(138, 128, 128);
    padding-bottom: 28px;
    padding-left: 15px;
}

.header-input:focus::-webkit-input-placeholder {
    color: #f4f4f078;
}

.header-input:hover {
    border-bottom: 2px solid #372a2aa3
}

.header-input:focus {
    background-color: white;
    box-shadow: 0 0 1px #090909b3;
}

/* ================HEADER-INPUT================== */

.user-navigation {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 10px #090909b3;
    border-radius: 5px;
}

.user-navigation:hover {
    color: white;
    background-color: rgb(157, 173, 243);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 0 1px #090909b3
}

/* ==================Main============== */

.flex-container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #e8eded;
    margin-top: 137px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.toolbar-title {
    margin-top: 10px;
    font-size: 25px;
}

.hram-title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    text-align: center;
}

.churches {
    margin-bottom: 10px;
}

.hram-img {
    margin-left: auto;
    margin-right: auto;
}

.menu-hram-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    box-shadow: 0 0 5px black;
}

.menu-hram-item {
    display: flex;
    list-style: none;
    border-radius: 5px;
    margin-left: 1px;
    background-color: #e3e8ed;
}

.menu-hram-link {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.menu-hram-btn {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 15px;
}

.modal-schedule {
    display: block;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    height: 261px;
    width: 600px;
    background-color: white;
    border: #f2e7e7 1px solid;
    z-index: 10;
}

.lives-saints-width {
    width: 950px;
    height: 600px;
    overflow: auto;
}

.lives-saints-title {
    margin-top: 0;
    text-align: center;
}

.scedule-title {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.modal-close {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    z-index: 20
}

.lives-saints-text {
    margin-bottom: 0;
    text-indent: 25px;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -1px;
    width: 19px;
    height: 2px;
    background-color: red;
    outline: none;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.open-day {
    font-size: 23px;
}

.slider-arrow {
    position: absolute;
    top: 410px;
    background-color: #f8f9fa04;
    border: none;
}

.left-arrow {
    left: 312px;
}

.right-arrow {
    right: 353px;
}

.information {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 65px;
    width: 550px;
    border-radius: 4px;
}

.addres-map {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
}

.st-adrian {
    margin-top: 0;
    text-indent: 25px;
}

/* ==============ЖИТИЕ================== */

.lives-flex-container {
    display: flex;
    justify-content: space-around;
}

.lives-title {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.lives-toolbar-list {
    margin-top: 25px;
    margin-right: 5px;
    padding-right: 15px;
    padding-left: 0;
    border-right: 1px solid rgb(154, 150, 150);
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.lives-toolbar__item--ikon{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.lives-tulbar-link {
    display: inline-block;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3f51b5;
}

.lives-tulbar-link:hover{
    border-bottom: 2px solid #513e11a3;
        color: rgb(138, 128, 128);
}

/* ===============Акафист================ */

.acafist-icon__img,
.lives-ikon__img {
    margin-top: 0;
    padding-right: 5px;
}

.toolbar-title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.toolbar-text {
    text-indent: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}

/* ===============Тропарь================ */

.tropar-icon {
    margin-top: 0;
    padding-right: 5px;
}

/* ===============Иконография================ */

.iconography{
    list-style: none;
}

.iconography__item{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.iconography__wrap--main{
    width: 86%;
}

.iconography__wrap--toolbar{
    width: 13%;
}



